@{
    ViewBag.Title = "Sell";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Display Data</h2>

<span>Email: @ViewBag.Email</span>
<br />
<br />
<span>Age: @ViewBag.Age</span>
<br />
<br />
<span>Gender: @ViewBag.Gender</span>
<br />
<br />
<span>Courses: @ViewBag.Courses</span>
<br />
<br />
<span>Qualification: @ViewBag.Qualification</span>
